h1
    {
    color: darkslategrey;
    }

body
    {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    }

#ital
    {
    font-style: italic;
    font-weight: bold;
     color: slategrey;
    }

#instructions
    {
    font-family: Tahoma, Geneva, sans-serif;
    }

p.bold
    {
    font-weight: bold;
    }

span.monies
    {
    color: darkslategrey;
    }

#disclaimer
    {
    font-size: 10px;
    }

button
    {
    cursor: pointer;
    }
button:hover 
    {
        background-color: dodgerblue;
    }

a:link
    {
    text-decoration: none;
    }
a:hover
    {
    color: dimgray; 
    text-decoration: underline;
    }
a:active
    {
    color: steelblue;
    text-decoration: underline;
    }